body {
  font-family: "Noto Serif JP", serif;
  background-color: #f1f1f1;
  color: #232904;
}

.main-app {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 600px;
  padding: 5px 10px;
}

.form-search-input {
  border: 0px;
  background-color: #f1f1f1;
  width: 42%;
  padding: 10px;
  font-size: 16px;
}

.form-submit-button {
  padding: 12px;
  border-radius: 12px;
  font-size: 14px;
  padding: 8px 20px;
  border: 0px;
  margin: 0 10px 5px 0;
  background-color: #88bbd6;
  color: #f1f1f1;
  box-shadow: 2px 5px 5px rgba(65, 50, 100, 0.4);
}

.form-submit-button:hover {
  background-color: #f1f1f1;
  color: #88bbd6;
  transition: ease-in-out;
  cursor: pointer;
}

.today-section {
  display: flex;
  justify-content: space-between;
}

.left-side-app {
  max-width: 50%;
}

.weather-city {
  font-size: 48px;
  padding: 10px 0px 0px 20px;
  margin: 0 auto;
}

.day-of-week {
  margin: 0 auto;
  padding: 0px 0px 10px 20px;
  font-weight: 600;
  font-size: 18px;
}

.temperature-today {
  margin: 0 auto;
  margin-left: 80px;
  font-size: 58px;
  font-weight: 400;
}

.weather-details {
  padding: 0px 0px 0px 20px;
  font-size: 14px;
  font-weight: bold;
}
.details {
  color: #88bbd6;
  font-style: italic;
  font-weight: 100;
}
.description {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin-left: 35px;
}

.weather-emoji {
  text-align: center;
  height: 150px;
  width: 150px;
  padding: 0 10px;
}

a {
  color: #88bbd6;
}

h2 {
  display: inline;
  font-size: 16px;
  margin-left: 20px;
  font-weight: 300;
}

main {
  background-color: white;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  box-shadow: 10px 0px 30px rgba(65, 50, 100, 0.2);
}

.weather-forcast {
  text-align: center;
  margin-top: 20px;
  background-color: white;
  max-width: 75px;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 10px 10px 30px rgba(65, 50, 100, 0.2);
}

.weather-forcast-date {
  font-size: 14px;
  font-weight: 500;
}
.forcast-temperature-high {
  font-size: 15px;
  font-weight: 600;
  opacity: 0.8;
}
.forcast-temperature-low {
  font-size: 15px;
  color: #88bbd6;
}

footer {
  text-align: center;
  font-size: 14px;
  padding-top: 30px;
  color: rgba(0, 0, 0, 0.8);
}
